<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
  
<suite name="SampleSuite2" verbose="1" >
  <test name="SampleTest" >
  <parameter name="browser" value="Chrome"/>
    <classes>
       <class name="com.orange.pagetest.loginPageTest" />
       <class name="com.orange.pagetest.homePageTest" />
    </classes>
  </test>


</suite>